*.sty
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.synctex.gz
*.toc
* Blood.odt
*.log
*.tmp
.First_Blood.tex.swp
*swp
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
test
svg-inkscape
*ist
main.m*
*pdf
